/* SEASONS ========================================== */

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.video-wrapper {
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
        height: 50vh;
        top: 180px;
    }
    @media (max-width: 576px) {
        height: 340px;
        top: 50px;
    }
}




.season-bg {
    width: 100%;
    padding: 100px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media (max-width: 992px) {
        text-align: center;
    }
}

.season-bg p, .season-bg span {
    @media (max-width: 576px) {
        text-align: center;
    }
}


.season-bg--bg01 {
    background: url("../images/mr-robot-bg03.jpg") no-repeat center center fixed;
}

.season-bg--bg02 {
    background: url("../images/mr-robot-bg04.jpg") no-repeat center center fixed;
}

.season-bg--bg03 {
    background: url("../images/mr-robot-bg05.jpg") no-repeat center center fixed;
}

.season-bg--bg04 {
    background: url("../images/mr-robot-bg06.jpg") no-repeat center center fixed;
}


.season-bg--bg01,
.season-bg--bg02,
.season-bg--bg03,
.season-bg--bg04,
.season-bg--bg05 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav-episode {
    display: flex;
    width: 295px;
    justify-content: space-between;
    padding: 20px 0px;
    list-style: none;
    @media (max-width: 992px) {
        margin: 0 auto;
    }
    @media (max-width: 576px) {
        width: 100%;
        box-sizing: border-box;
        padding: 40px 40px 0px 40px;
    }
}

.btn--episode {
    display: inline-block;
    background: transparent;
    text-align: center;
    border: #fff 2px solid;
    margin: 0;
    &:hover {
        background: #fff;
        color: #ba1818;
    }
}

.episode-position {
    display: inline-block;
    background: transparent;
    width: auto;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-align: center;
    border: #fff 2px solid;
}


    .--white {
        color: #fff;
        background: #000;
        display: inline;
        padding: 10px 0px;
        line-height: 1.8rem;
      }


  

    .--black {
        color: #000;
        background: #fff;
        font-weight: 300;
        display: inline;
        padding: 10px 0px;
        line-height: 1.8rem;
      }

  

    .--red {
        color: #000;
        background: #ba1818;
        font-weight: 300;
        display: inline;
        padding: 10px 0px;
        line-height: 1.8rem;
      }
