
body {
    font-family: $fontPrimary;
    letter-spacing: 0.2em;
    background: #000;
    overflow-x: hidden;
}

hr {
  border: #fff 1px solid;
  width: 60px;
  margin: 50px auto;
  opacity: 0.3;
}

h2 {
  @include respond-to(tablet) {
    font-size: calc(1.325rem + 0.2vw);
    }
  }

.letspac {
    letter-spacing: 0.2em;
}

.text-color-red {
    color: $color-red;
}

  .text-color-black {
    color: $color-black;
  }
  
  .text-color-white {
    color: $color-white;
  }
  
  .font-weight-300 {
    font-weight: 300;
  }
  
  .font-weight-700 {
    font-weight: 700;
  }
  
 
  

  
  
  
  